@fa-font-path :   "../font";
body {
  background: #e6ebf4;
  font-family: "Cousine", monospace; }

.padding--bottom {
  padding-bottom: 6px; }

.row {
  margin-top: 12px;
  margin-bottom: 12px; }

.col {
  text-align: center;
  margin: auto; }

.links {
  text-decoration: none; }
  .links img {
    margin-right: 6px;
    margin-top: 12px;
    width: 30px;
    height: 30px;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s; }

.nav {
  background: rgba(38, 70, 83, 0.3);
  width: auto;
  margin-bottom: 18px;
  transition: box-shadow 0.5s ease; }
  .nav:hover {
    box-shadow: 2px 2px 5px #152735; }
  .nav .nav-link {
    text-decoration: none;
    font-size: 30px;
    color: #B4436C; }

.center-me, .hair, .hair-swoop, .head, .nose, .mouth {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto; }

.info {
  display: inline-block; }

.section--title {
  text-align: center;
  font-family: "Cousine", monospace;
  font-size: 45px;
  color: #152735;
  margin-bottom: 6px; }

.comments, .title {
  text-align: center;
  font-family: "Cousine", monospace;
  font-size: 20px;
  color: #e6ebf4;
  margin-bottom: 0; }

.title {
  color: #B4436C;
  margin-bottom: 6px; }

.box {
  position: relative;
  display: inline-block;
  z-index: -10;
  width: 400px;
  height: 300px; }

.circle {
  position: relative;
  margin: auto;
  z-index: -12;
  top: 7%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #B4436C;
  overflow: hidden;
  box-shadow: 8px 8px 0 0 #152735; }

.hair {
  top: 14%;
  width: 26%;
  height: 47%;
  background: #38230a;
  border-radius: 4em 4em 0 0;
  overflow: hidden; }

.hair-swoop {
  top: -20%;
  right: 10%;
  width: 100%;
  height: 50%;
  background: #38230a;
  border-radius: 50%;
  z-index: 4;
  transform: rotate(-35deg); }

.head {
  top: 16.5%;
  width: 24%;
  height: 40%;
  background: #d4aa78;
  border-radius: 50%; }

.head-copy {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #d4aa78;
  border-radius: 50%;
  z-index: 2; }

.ear-left, .ear-right {
  position: absolute;
  width: 20%;
  height: 20%;
  left: -7%;
  top: 40%;
  background: #d4aa78;
  border-radius: 50%;
  z-index: 1; }

.ear-right {
  left: auto;
  right: -7%; }

.inner-ear {
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background: #bc9669; }

.eyebrow-left, .eyebrow-right {
  position: absolute;
  top: 38%;
  background: #38230a;
  left: 25%;
  z-index: 3;
  width: 10%;
  height: 2%;
  transform: rotate(-5deg); }

.eyebrow-right {
  left: auto;
  right: 25%;
  transform: rotate(5deg); }

.pupil-left, .pupil-right {
  position: absolute;
  width: 9%;
  height: 9%;
  top: 43%;
  left: 27%;
  border-radius: 50%;
  background: #000000;
  z-index: 3; }

.pupil-right {
  left: auto;
  right: 27%; }

.nose {
  width: 17%;
  height: 22%;
  top: 40%;
  background-color: #d4aa78;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 3px solid;
  border-bottom-color: #bc9669;
  border-top-color: #d4aa78;
  border-right-color: #d4aa78;
  border-left-color: #d4aa78;
  z-index: 3; }

.mouth {
  height: 16px;
  width: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background-color: #000000;
  z-index: 4;
  top: 70%;
  overflow: hidden; }

.tongue {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background-color: #DB5461;
  left: 30%;
  top: 40%;
  position: absolute; }

/*# sourceMappingURL=girl.css.map */
