#h1{
	font-family: 'Arial';
	font-size: 48px;
	color: blue;
}
body{
	background-color: white;
}

#header{
	padding: 0;
	margin: 0;
	font-family: Lobster;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 36px;
	color: #3ECB89;
}
#header img {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
	padding-right: 20px;
	padding-top: 5px;
}
#title {
	float: left;
}

#links img{
	border: 0;
	padding: 5px;;
	padding-bottom: 5px;
}
#links{
	text-align: center;
}

#nav {
	padding: 0;
	margin: 0;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-bottom:5px dotted  #3ECB89;
	border-width:2px;
}

#nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#nav li {
	text-decoration: none;
	color: black;
	display: inline-block;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 24px;
	position: relative;
	text-transform:lowercase;
}

#nav a {
	text-decoration: none;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#nav a:hover {
	color: #3ECB89;
}

#navwrap {
	white-space: nowrap;
}

h2 {
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 30px;
}

#blurbs{
	margin: 0;
	margin-left: 300px;
	margin-right: 300px;
}

#blurbs p{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 24px;
}

#blurbs a{
  color: #3ECB89;
  text-decoration: none;
}

#blurbs a:hover{
	color: black;
	text-decoration: none;
	
}

#seperation{
	padding: 0;
	margin: 0;
	width: 1000px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 20px;
	border-bottom:5px dotted  #3ECB89;
	border-width:2px;
}


