
body{
	background-color: #8653A2;
	height: 100%;
	text-align: center;
}

#draw-shapes{
	width: 100%;
	height: 100%;
}


#arrowDIV{
	opacity: 0.4;
}
.bar{
	width: 100%;
	height: 40px;
	display: inline-block;
}

a.menuItem{
	text-decoration: none;
	color: white;
	font-size: 36px;
	padding-right: 20px;
	font-family: Raleway, sans-serif;
}
@keyframes colorchange{
    0%  {color: #FFFA0B;}
    34%  {color: #B3F40B;}
    100% {color: #0E8BB5;}
}

 /* Safari and Chrome - necessary duplicate */
@-webkit-keyframes colorchange{
	0%  {color: #FFFA0B;}
	34%  {color: #B3F40B;}
	100% {color: #0E8BB5;}
}

h1.name{
	margin-top: 10%;
	margin-bottom: 0px;
	text-align: center;
	color: #2FA0BA;
/*	animation: colorchange 30s infinite alternate;
		-webkit-animation: colorchange 30s infinite alternate; /* Chrome and Safari */
	font-size: 100px;
	font-family: Raleway, sans-serif;

}

h2.titles{
	margin-top: 0px;
	text-align: center;
	color: #541F71;
	font-size: 40px;
	font-family: Raleway, sans-serif;

}

h3.titles{
	margin-top: 0px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: Raleway, sans-serif;
}
.gmail{

}

.gmailClkd{
	border-color: black;
	border: 12px;
}

.facebook{

}

.spotify{

}
#title {
	float: left;

}

.linkedin{

}

.links{
	text-align: center;
	padding: 5px;

}


/*
#title {
	float: left;
=======
#links{
	text-align: center;
>>>>>>> origin/master
}


#nav {
	width: 100%;
}

#nav ul {
	list-style-type: none;
	text-align: center;
}

#nav li {
	text-decoration: none;
	display: inline-block;
	font-family: 'Slabo 27px', serif;
	font-size: 24px;
	position: relative;
	text-transform:uppercase;
	text-align: center;
}

#nav a {
	text-decoration: none;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
}

#nav a:hover {
	color: #88F0EE;
}

#navwrap {
	white-space: nowrap;
}

#sep{
	width: 100%;
	height: 2px;
	background-color: #88F0EE;
}

h2 {
	text-align: center;
	font-family: 'Slabo 27px', serif;
	font-size: 30px;
	text-transform: uppercase;
}

#projectHead{
	text-align: center;
	font-family: Lobster;
	font-size: 24px;
	color: #88F0EE;
}

#blurbs{
	margin: 0;
	margin-left: 300px;
	margin-right: 300px;
}

#blurbs p{
	font-family: 'Slabo 27px', serif;
	font-size: 24px;
}

#blurbs a{
  color: #88F0EE;
  text-decoration: none;
}

#blurbs a:hover{
	color: black;
	text-decoration: none;

}

h3{
	font-family: 'Slabo 27px', serif;
	font-size: 26px;
	color: #88F0EE;
	margin-left: 300px;
	margin-right: 300px;
}


#project p{
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
	margin-left: 50px;
}
<<<<<<< HEAD
*/
=======
>>>>>>> origin/master
